version: '2'

services:
  app:
    build:
      context: ./
      dockerfile: Dockerfile
  php:
    image: php:7.4.16-apache
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./:/var/www/html
    links:
      - db

  db:
    image: mysql:8.0.23
    volumes:
     - /var/lib/mysql
    environment:
     - MYSQL_ROOT_PASSWORD=Root1
     - MYSQL_DATABASE=iut
     - MYSQL_HOST=127.0.0.1
    ports:
     - 33060:3306

  
  adminer:
    image: adminer
    restart: always
    ports:
      - 8080:8080